@model IEnumerable<VSDOnline.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Settings
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Settings</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-2">
            @Html.Partial("_SettingsPartial")
        </div>
        <div class="col-md-10 col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">Events</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <p>
                                @Html.ActionLink("Create New", "Create")
                            </p>
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Time)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Venue)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContactDetails)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Venue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContactDetails)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
