@{
    ViewBag.Title = "Home Page";
}

<script src="https://www.youtube.com/iframe_api"></script>

@*<div class="jumbotron">
        <div class="container">
            <div id="raysDemoHolder">
                <div id="rays"></div>
            </div>
        </div>
    </div>*@

<div class="container bg-siteimage">
    @*<div class="panel">*@
    <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6 headertext">
            LIVE ALL
        </div>
        <div class="col-lg-8 col-md-8 hidden-sm hidden-xs text-center headertext1">
            An Integrated Universal Shiridi Sai Family For Spiritual Enlightenment, Self Realization and World Peace
        </div>
        <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6 text-right headertext">
            LOVE ALL
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-lg-12 col-md-12">*@
<div class="container bg-primary">
    @*<div id="raysDemoHolder">
            <div id="rays"></div>
        </div>*@
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        @*<ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>*@
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div id="rays"></div>
            <div id="rays1"></div>
            <div class="item active">
                <img class="first-slide img-responsive center-block carousel-image" src="~/Images/carousel/FirstImage.png" alt="First slide">
                <div class="carousel-caption">
                    <div class="rw-wrapper">
                        <div class="rw-sentence rw-words rw-words-1 text-left text-justify">
                            <div>Whosoever puts their feet on Shirdi soil, their sufferings will come to an end.</div>
                            <div>The wretched and miserable will rise to joy and happiness as soon as they climb the steps of the mosque.</div>
                            <div>I shall be ever active and vigorous even after leaving this earthly body.</div>
                            <div>My tomb shall bless and speak to the needs of my devotees.</div>
                            <div>I shall be active and vigorous even from my tomb.</div>
                            <div>My mortal remains will speak from my tomb.</div>
                            <div>I am ever living to help and guide all who come to me, who surrender to me and who seek refuge in me.</div>
                            <div>If you look to me, I look to you.</div>
                            <div>If you cast your burden on me, I shall surely bear it.</div>
                            <div>If you seek my advice and help, it shall be given to you at once.</div>
                            <div>There shall be no want in the house of my devotee.</div>
                        </div>
                    </div>
                </div>

            </div>
            @*<div class="item">*@
            @*<div class="fill" style="background-image:url('../../Images/carousel/2.jpg');"></div>*@
            @*<img class="second-slide img-responsive center-block" src="~/Images/carousel/SecondImage.png" alt="First slide">*@
            @*<div class="carousel-caption">
                    <h1>Ready to Style &amp; Add Content</h1>
                </div>*@
            @*</div>*@
            @*<div class="item">*@
            @*<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>*@
            @*<img class="third-slide img-responsive center-block" src="~/Images/carousel/ThirdImage.png" alt="First slide">*@
            @*<div class="carousel-caption">
                    <h1>
                        Additional Layout Options at <a href="http://startbootstrap.com">http://startbootstrap.com</a>
                    </h1>
                </div>*@
            @*</div>*@
        </div>
        <!-- Controls -->
        @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>*@
    </div>
</div>
<div class="container bg-primary">
    <div class="text-center">
        <img class="img-responsive center-block" src="~/Images/AllSymbols.png" />
    </div>
</div>
@*</div>
    </div>*@
@*</div>*@
@*<div class="hidden">
        <iframe id="siteaudiosong" width="300" height="182" src="https://www.youtube.com/embed/Lm5sgPo9qiE?version=2&autoplay=1&loop=1&enablejsapi=1&hd=1&theme=light" frameborder="0"></iframe>
    </div>*@
<div class="container bg-site">
    <hr />
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome to Viswa Sai Dwarakamai!</div>
                <div class="panel-body">
                    <p class="text-justify">
                        <h3>Sri Sai Baba of Shirdi, also known as Sri Shirdi Sai Baba </h3> <h6>(1835 – 15 October 1918; resided in Shirdi, Maharashtra, India)</h6>
                    </p>
                    <p class="text-justify">
                        An Indian Spiritual Master regarded by Hundreds of Millions of devotees as a Saint, Sadguru (Divine Master of Masters) and Bhagwan (God). He is revered by many devotees across all religions including Hindu, Muslim, Cristian, Sikh, Parsi, Buddh and Zoroastrians as well as after, his life it remained uncertain if he was a Hindu or a Muslim himself when and where he born, who are his parents. This however was of no consequence to Sai Baba himself.  Sai Baba stressed the importance of surrender to the guidance of the true Satguru who, having gone the Path to Divine Consciousness, Unbound Pinnacle State ( Nirvikalpa Samadhi) and Divine Bliss is also known as Supreme Happiness (Sachidanand;Sat Chit and Anand) himself, will lead the disciple through the jungle of spiritual training from Samsara (Family Life) in the world which is materialistic and perishable and also engulfed by Maya (illusion).
                        @Html.ActionLink("Read more...", "About", "Home")
                    </p>
                    <div id="moreaboutsai" class="collapse">
                        <p class="text-justify">
                            Sri Shirdi Sai Baba is an ICON of Indian Spiritual practices described in Four ways (Marga) to attain Self Realization/Moksha/Mukthi. namely as 1. Jñāna, the way of Pure Knowledge & Divine Reality; 2. Bhakti, the way of devotion toward GOD; 3. Karma Yoga, the way of Selfless action; and 4. Rāja yoga, the way of contemplation and meditation called “Yoga”  5. Modern Seva (Service) to Living Beings with Utmost Love and Devotion). Service to Livings is Service to God. Living things including Human. Animals & Plants in the Universe.
                            Jñāna Marga is a path often assisted by a Guru (Divine Teacher/Master) in one’s Spiritual Practice. Bhakti Marga is a path of Faith & Devotion to Deity or Deities; the Spiritual Practice often includes Chanting, Singing and Music - such as in Kirtans- in front of Idols, or images of one or more Deity, or a devotional symbol of the holy. Karma Marga is the path of one’s work, where diligent practical work or vartta (Sanskrit: वार्त्ता, profession) becomes in itself a spiritual practice, and work in daily life is perfected as a form of spiritual liberation and not for its material rewards. Rāja Marga is the path of cultivating necessary Virtues, Self-Discipline, Tapas (Meditation), contemplation and self-reflection sometimes with isolation and renunciation of the world, to a Pinnacle State called Samādhi.This state of samādhi has been compared to peak experience.
                        </p>
                        <p class="text-justify">
                            Sai Baba is worshipped by people around the World. He had no love for perishable things and his sole concern was Self-Realization. He taught a moral code of Love, Forgiveness, Helping others, Charity, Contentment, Inner Peace, and Devotion to God and Guru which is combination of all of Hindu and other spiritual practices. He gave no distinction based on Religion or Caste.
                        </p>
                        <p class="text-justify">
                            He gave the Hindu name Dwarakamai to the mosque he lived in and practised Muslim rituals, taught using words and figures that drew from both traditions, and was buried in Shirdi.
                        </p>
                        <p class="text-justify">
                            <b>Sai Baba of Shirdi</b> is certainly the most influential modern "Supersoul" to tend the Dhuni which he kept lit perpetually burning daily in Dwarakamai (Mosque) until October 15, 1918. Dhuni is sacred fire (agnihotri or worship by offering fire) represents the eternal process of change and transformation on all levels of existence.
                        </p>
                        <p class="text-justify">
                            Fire is a symptom of power of which the whole galaxy is created and Flame Compromise appears for the cosmic attention in which the beyond any doubt generation is estimated, managed and regularly modified. Hence, ‘Dhuni’ is outstanding for home the sins to ashes, for those who search for finish sanctuary in this peerless Expert.
                        </p>
                        <p class="text-justify">
                            Sai Baba used to sit by the part of his "Dhuni" and look at it while being greatly consumed in ideas. He used to spread the 'Udi' the holy ash of his Dhuni, to all who came to Him, as a small of His elegance.This Sacred Ash had plenty of amazing healing capabilities too.
                        </p>
                        <p class="text-justify">
                            One of his well-known epigrams, "Sabka Malik Ek" ("One God governs all"), is associated with Hinduism, Islam and Sufism. He also said,  "Trust in me and your prayer shall be answered" . He always uttered  “Allah Mailk” ("God is King").
                        </p>
                        <p class="text-justify">
                            <b>Significance of the name: Sai</b>
                            No body was known Sai Baba's real name, Place or Time of Birth. When asked about his past, Sai Baba often gave elusive responses. The name "Sai" was given to him upon his arrival at Shirdi, a town in the west Indian state of Maharashtra. Mahalsapati, a local Temple Priest, recognised him as a Muslim Saint and greeted him with the words 'Ya Sayi!', meaning 'Welcome Sayi!’. His intension to call him as Eesa. However, Sāī may also be an acronym of the Sanskrit term "Sakshat Eshwar", a reference to God. Sakshat means "incarnate" and Eshwar means “Shiva".In Persian title Sayi is given to Sufi Saints, meaning "good one". The honorific "Baba" means “Father; Grandfather; Old man and Sir". Thus Sai Baba denotes “Holy father", “Saintly Father" or "poor old man".
                        </p>
                        <p class="text-justify">
                            Alternatively, the Sindhi and Urdu word "sāī.n", an honorific title for a virtuoso, a saint, or a feudal lord (i.e. a patron), is derived from the Persian word "sāyeh", which literally means "shadow" but figuratively refers to patronage or protection. The Hindi_Urdu word "sāyā" comes from the same borrowing. Thus, it could also mean "Master Father."
                        </p>
                        <p class="text-justify">
                            <b>Successor (Parampara)</b>
                            Some of Sai Baba's disciples became famous as spiritual figures and saints, such as Mahalsapati, a priest of the Khandoba temple in Shirdi, and Upasni Maharaj. He was revered by other saints, such as Saint Bidkar Maharaj, Saint Gangagir, Saint Janakidas Maharaj, and Sati Godavari Mataji Sai Baba referred to several saints as 'my brothers', especially the disciples of Swami Samartha of Akkalkot.
                        </p>
                        <p class="text-justify">
                            Guru Vanamma is the chosen one by Shirdi Sai Baba in continuation of this great Guru-Shisya Sampradyam (Master and Disciple relation). Please continue to read under a separate section on this website on how Guru Vanamma was initiated onto the path of spirituality and how Shirdi Sai Baba used her as a conduit to serve humanity.
                        </p>
                        <p class="text-justify">
                            <b>Teachings and practices: Sradhha and Saburi</b>
                        </p>
                        <p class="text-justify">
                            Sai Baba opposed all persecution based on religion or caste. He was an opponent of religious orthodoxy – Christian, Hindu and Muslim.
                        </p>
                        <p class="text-justify">
                            Sai Baba encouraged his devotees to pray, chant God's name, and read holy scriptures. He told Muslims to study the Qur'an and Hindus to study texts such as the Ramayana, Bhagavat Gita amd Yoga Vasistha. He was impressed by the philosophy of the Bhagavad Gita and encouraged people to follow it in their own lives. He advised his devotees and followers to lead a moral life, help others, love every living being without any discrimination, and develop two important features of character: devotion to the Guru (Sraddha) and waiting cheerfully with patience and love (Saburi).
                        </p>
                        <p class="text-justify">
                            In his teachings, Sai Baba emphasised the importance of performing one's duties without attachment to earthly matters and of being content regardless of the situation.
                        </p>
                        <p class="text-justify">
                            Sai Baba encouraged charity, and stressed the importance of sharing. He said: "Unless there is some relationship or connection, nobody goes anywhere. If any men or creature comes to you, do not discourteously drive them away, but receive them well and treat them with due respect. Shri Hari (God) will certainly be pleased if you give water to the thirsty, bread to the hungry, clothes to the naked, and your verandah to strangers for sitting and resting. If anybody wants any money from you and you are not inclined to give, do not give, but do not bark at him like a dog.
                        </p>
                    </div>
                    @*<button id="showmorebutton" type="button" class="btn btn-danger" data-toggle="collapse" data-target="#moreaboutsai">
                            Read more..
                        </button>*@
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Recent Videos</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SRcNzcI96cc"></iframe>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/FxDFTPELjUw"></iframe>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/marKbpuiS2Q"></iframe>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AXFQoQa1npk"></iframe>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Upcoming Events</div>
                <div class="panel-body">
                    <p><b>Work of Mercy - Serve the Hunger</b></p>
                    <p><b>Date & Time :</b> 05/01/2016 8:30AM</p>
                    <p><b>Venue:</b> Parking lot of First Church of Christ Scientist - 43 E St. James street, San Jose CA 95112.</p>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Viewers</div>
                <div class="panel-body text-center">
                    <div id="histats_counter"></div>
                    <noscript><a href="http://www.histats.com" target="_blank"><img src="http://sstatic1.histats.com/0.gif?3431621&101" alt="hitcounter" border="0"></a></noscript>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Donations</div>
                <div class="panel-body">
                    <p class="text-justify">
                        <b>Viswa Sai Dwarakamai</b> is a non-profit organization and established as a centre for prayers, worship, celebrating and sharing Sai Sadguru's message and invoking his blessings for the betterment of human lives, materially and spiritually.
                        @Html.ActionLink("Read more...", "Donate", "Home")
                    </p>
                    <hr />
                    <div id="moreadonations" class="collapse">
                        <p class="text-justify">
                            <b>Viswa Sai Dwarakamai</b> has strong desire to support and promote philosophy of Shirdi Sai Baba and is mainly dependent on the donations by devotees. We have expansion plans to improve our facilities and enhance the experiences of our devotees when they visit the Viswa Sai Dwarakamai.
                        </p>
                        <p class="text-justify">
                            <b><u>We need your support</u></b>
                        </p>
                        <p class="text-justify">You can willingly donate to Viswa Sai Dwarakamai for various activities.</p>
                        <p class="text-justify">
                            To Donate for Flowers, Annadanam, Temple construction and General donations.
                        </p>
                    </div>
                    <div class="text-center">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="LBSNXPXF38CMQ">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
            </div>
            @*<div class="thumbnail bg-siteimage">
                    <p class="text-justify">
                        <b>Viswa Sai Dwarakamai</b> is a non-profit organization and established as a centre for prayers, worship, celebrating and sharing Sai Sadguru's message and invoking his blessings for the betterment of human lives, materially and spiritually.
                    </p>
                    <p class="text-justify">
                        <b>Viswa Sai Dwarakamai</b> has strong desire to support and promote philosophy of Shirdi Sai Baba and is mainly dependent on the donations by devotees. We have expansion plans to improve our facilities and enhance the experiences of our devotees when they visit the Viswa Sai Dwarakamai.
                    </p>
                    <p class="text-justify">
                        <b><u>We need your support</u></b>
                    </p>
                    <p class="text-justify">You can willingly donate to Viswa Sai Dwarakamai for various activities.</p>
                    <p class="text-justify">
                        To Donate for Flowers, Annadanam, Temple construction and General donations.
                    </p>
                    <div class="text-center">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="LBSNXPXF38CMQ">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>*@
        </div>

    </div>
</div>

@*<div class="row">
        <div class="col">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>*@
@*<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                @ViewBag.Title
            </h1>
            @* @Html.Raw(HttpUtility.HtmlDecode(Resources.global.AboutUs1))
        @*</div>
    </div>*@
@*</div>*@


@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

@Scripts.Render("~/bundles/youtube")
@Scripts.Render("~/bundles/histats")
