<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Viswa Sai Dwarakamai</title>
    <link rel="shortcut icon" href="~/Images/vsd_80x80.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="img-responsive navbar-brand1" href="@Url.Action("Index", "Home")">
                    <img class="img-responsive" src="~/Images/NewVsdLogo.png" alt="VSD Online">
                </a>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    <li>@Html.ActionLink("Events", "Index", "Events")</li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Samellanam</a></li>
                                <li><a href="#">Satsang</a></li>
                                <li><a href="#">Sa</a></li>http://localhost:50247/#
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>*@
                    <li>@Html.ActionLink("Satcharitra", "Satcharitra", "Home")</li>
                    <li>@Html.ActionLink("Aarthi", "Aarthi", "Home")</li>
                    <li>@Html.ActionLink("Donation", "Donate", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="adspace bg-adspace">
        <div class="adspace-body" align="center">
            <marquee scrollamount="3">Sri Shiridi Sai Gayatri Mahamantra - Om Shirdi Vasaya Vidmahe Sarva Siddischa Dhimahi Thanno Sai Prachodayath.          Happy Ugadi and Sri Rama Navami</marquee>
        </div>
    </div>
    @*<div class="adspace">*@
    <div class="adspace">
        <div class="nav">
            <div class="col-xs-6 col-lg-6">
                <div class="headertext">Shradha</div>
            </div>
            <div class="col-xs-6 col-lg-6 text-right">
                <div class="headertext">Saburi</div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-xs-6 col-lg-6">
                <div class="headertext">
                    Shradha
                </div>
            </div>
            <div class="col-xs-6 col-lg-6 text-right">
                <div class="headertext">
                    Saburi
                </div>
            </div>
        </div>*@
    @*</div>*@
    @*<div class="container body-content">*@
    @RenderBody()
    @*</div>*@
    @*<hr />*@
    <hr/>
    <footer class="footer bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">&copy; @DateTime.Now.Year - Viswasai dwarakamai</div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="LBSNXPXF38CMQ">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    @*<div class="hitcount">Hit Count: @VSDOnline.MvcApplication.TotalNumberOfUsers</div>*@
                </div>
                <div class="col-lg-6">
                    @*<img id="imgaudioplaypause" class="imgaudioplaypause pause pull-right" />*@
                    <audio class="audiocontrol pull-right" src="~/Audio/vsdsong.mp3" autoplay controls loop>
                        @*<p>browser does not support the audio element.</p>*@
                    </audio>
                </div>
            </div>
        </div>
        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/site")
    @RenderSection("scripts", required: false)

</body>
</html>
