<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @if (!(ViewBag.skipviewport ?? false))
    {
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    }
    else
    {
        @Styles.Render("~/Content/nonresponsive");
    }
    <title>@ViewBag.Title - Viswa Sai Dwarakamai</title>
    <link rel="shortcut icon" href="~/Images/NewVsdLogo.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @*<header class="image-bg-fixed-height bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 center-block">
                        <img class="img-responsive" style="position:absolute;z-index:2" src="~/Images/banner.png" alt="saibaba">
                        <div id="rays"></div>
                    </div>
                    <div class="col-xs-6 center-block">
                        <h1 class="text-danger">VISWA SAI DWARAKAMAI</h1>
                        <div class="rw-wrapper">
                            <div class="rw-sentence rw-words rw-words-1 text-left text-justify">
                                <div>Whosoever puts their feet on Shirdi soil, their sufferings will come to an end.</div>
                                <div>The wretched and miserable will rise to joy and happiness as soon as they climb the steps of the mosque.</div>
                                <div>I shall be ever active and vigorous even after leaving this earthly body.</div>
                                <div>My tomb shall bless and speak to the needs of my devotees.</div>
                                <div>I shall be active and vigorous even from my tomb.</div>
                                <div>My mortal remains will speak from my tomb.</div>
                                <div>I am ever living to help and guide all who come to me, who surrender to me and who seek refuge in me.</div>
                                <div>If you look to me, I look to you.</div>
                                <div>If you cast your burden on me, I shall surely bear it.</div>
                                <div>If you seek my advice and help, it shall be given to you at once.</div>
                                <div>There shall be no want in the house of my devotee.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-3 center-block">
                        <img class="img-responsive" style="position:absolute;z-index:2" src="~/Images/vanamma.png" alt="vanamma">
                        <div id="rays"></div>

                    </div>
                </div>

            </div>
        </header>*@
    @*<header class="page-header bg-primary">
            <div class="container bg-primary">
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="~/Images/banner.png"></div>
                    <div class="col-xs-6">fasdfasdf</div>
                    <div class="col-xs-3"><img class="img-responsive pull-right" src="~/Images/vanamma.png"></div>
                </div>

            </div>
        </header>*@
    <div class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="197">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="img-responsive navbar-brand1" href="@Url.Action("Index", "Home")">
                    <img class="img-responsive" src="~/Images/300resolution.png" alt="VSD Online">
                </a>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Services", "Services", "Home")</li>
                            <li>@Html.ActionLink("Satcharitra", "Satcharitra", "Home")</li>
                            <li>@Html.ActionLink("Aarthi", "Aarthi", "Home")</li>
                            
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Events", "Index", "Events")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Media<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Videos","Index", "Videos")</li>
                            <li>@Html.ActionLink("Photos", "Index", "Photos")</li>
                        </ul>
                    </li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Samellanam</a></li>
                                <li><a href="#">Satsang</a></li>
                                <li><a href="#">Sa</a></li>http://localhost:50247/#
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>*@


                    <li>@Html.ActionLink("Donation", "Donate", "Home")</li>
                    @*<li><a href="http://shrisaibabasansthan.org.in/darshan/shirdi-live-darshan/" target="_blank">Live Darshan</a></li>*@
                    <li>@Html.ActionLink("Live-Darshan", "LiveDarshan", "Home")</li>
                    

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("About Guruji", "AboutGuruji", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </li>  
                    <li>@Html.ActionLink("Sai Gayatri Mantra", "SaiGayatri", "Home")</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="adspace bg-adspace">
        <div class="adspace-body" align="center">
            <marquee scrollamount="3">Sri Shiridi Sai Gayatri Mahamantra - Om Shirdi Vasaya Vidmahe Sarva Siddischa Dhimahi Thanno Sai Prachodayath.          Happy Dussehra</marquee>
        </div>
    </div>
    @*<div class="adspace">*@
    <div class="adspace">
        <div class="nav">
            <div class="col-xs-3 col-lg-3">
                <div class="headertext">Shradha</div>
            </div>
            <div class="col-xs-1 col-lg-1 text-center">
                @*<audio class="audiocontrol" src="https://drive.google.com/uc?id=0BynChJWS6JMfanppOHZTRy00aUU" controls></audio>*@
                <!--Audio Player-->  
                <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                    <div class="jp-type-single">
                        <div class="jp-gui jp-interface">
                            <div class="jp-controls">
                                <button class="jp-play" role="button" tabindex="0">play</button>
                                @*<button class="jp-stop" role="button" tabindex="0">stop</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!--Audio Player-->
            </div>
          
            <div class="col-xs-5 col-lg-5 text-center">
                <span class="label label-primary headertext blink_me">Sai Gayatri Mantra - Total Count: @Session["TotalCount"]</span> <span class="headertext">@Html.ActionLink("Sign Up", "Create", "Chantings", null, new { @class = "btn btn-success" } )    </span>
            </div>

            <div class="col-xs-3 col-lg-3 text-right">
                <div class="headertext">Saburi</div>
            </div>
        </div>
    </div>
    @*<div class="adspace bg-adspace">
        <div class="nav">
            <div class="col-xs-12 col-lg-12 text-center">
                <div class="headertext">@Html.ActionLink("Sai Gayatri Mantra Count Sign Up", "Create", "Chantings")   Total Count: @Session["TotalCount"]  </div>
            </div>
        </div>
    </div>*@
    @*<div class="row">
            <div class="col-xs-6 col-lg-6">
                <div class="headertext">
                    Shradha
                </div>
            </div>
            <div class="col-xs-6 col-lg-6 text-right">
                <div class="headertext">
                    Saburi
                </div>
            </div>
        </div>*@
    @*</div>*@
    @*<div class="container body-content">*@
    @RenderBody()
    @*</div>*@
    @*<hr />*@
    <hr />
    <footer class="footer bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">&copy; @DateTime.Now.Year - Viswa Sai Dwarakamai</div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="Donate" alt="PayPal - The safer, easier way to pay online!" onclick="window.location ='@Url.Action("Donate", "Home")'; return false;">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="LBSNXPXF38CMQ">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    @*<div class="navbar-text pull-right">*@
                    <a href="https://www.youtube.com/channel/UCc6eyNu2oyhHBw1_u8mIi4g" target="_blank" class="btn btn-youtube" alt="Viswa Sai Dwarakamai youtube channel">
                        @*<img class="img-responsive"  src="~/Images/socialmedia/YouTube-logo-full_color.png" width="48" height="48"/>*@
                        <i class="fa fa-youtube"></i>
                    </a>
                    @*</div>*@
                    @*<div class="hitcount">Hit Count: @VSDOnline.MvcApplication.TotalNumberOfUsers</div>*@
                </div>
                <div class="col-lg-6">
                    @*<div class="navbar-text pull-right">*@
                    <a href="https://www.facebook.com/people/Vishwa-Sai-Dwarakamai-Wasaibaba/100010447690972" target="_blank" class="btn btn-facebook pull-right" alt="Viswa Sai Dwarakamai Facebook">
                        @*<img class="img-responsive"  src="~/Images/socialmedia/YouTube-logo-full_color.png" width="48" height="48"/>*@
                        <i class="fa fa-facebook"></i>
                    </a>
                    @*</div>*@
                    @*<div class="hitcount">Hit Count: @VSDOnline.MvcApplication.TotalNumberOfUsers</div>*@
                </div>
                <!--<div class="col-lg-6">
                    @*<img id="imgaudioplaypause" class="imgaudioplaypause pause pull-right" />*@
                    <audio class="audiocontrol pull-right" src="~/Audio/vsdsong.mp3"  controls >
                        @*<p>browser does not support the audio element.</p>*@
                    </audio>
                </div>-->
            </div>
        </div>
        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/site")
    @*@Scripts.Render("~/bundles/youtube")*@
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/youtube")
    @RenderSection("scripts", required: false)

</body>
</html>
