@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> @User.Identity.GetUserName() <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                    }
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-user"></span> Log off</a></li>
                </ul>
            </li>
            @*<li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>*@

        </ul>
    }
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> Sign in <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <li>@Html.ActionLink("Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li class="divider visible-xs"></li>
            </ul>
        </li>
    </ul>

    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("SignUp", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
